@import "tailwindcss";
@import "@nuxt/ui";
@font-face {
  font-family: 'YekanBakh';
  src: url('/fonts/staticfonts/YekanBakh-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'IRANYekan';
  src: url('/fonts/staticfonts/IRANYekanX-regular.woff') format('woff');
}
@font-face {
  font-family: 'IRANYekan';
  src: url('/fonts/staticfonts/IRANYekanX-bold.woff') format('woff');
  font-weight: 700;
}
:root {
    --ui-primary: #e20054;
}
@theme {
  --default-font-family: 'IRANYekan';
  --color-primary-50: #fdf2f6;
  --color-primary-100: #fbe5ee;
  --color-primary-200: #f180a9;
  --color-primary-300: #f2a6c8;
  --color-primary-400: #ea70a3;
  --color-primary-500: #e20054;
  --color-primary-600: #cf0045;
  --color-primary-700: #b00036;
  --color-primary-800: #920330;
  --color-primary-900: #7a062c;
  --color-primary-950: #450014;
}

.font-bakh {
  font-family: 'YekanBakh';
}
.mono,
.monospace {
  font-family: 'IRANYekan';
  -moz-font-feature-settings: 'ss03';
  -webkit-font-feature-settings: 'ss03';
  font-feature-settings: 'ss03';
}

.faNum {
  -moz-font-feature-settings: 'ss02';
  -webkit-font-feature-settings: 'ss02';
  font-feature-settings: 'ss02';
}

.layout-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 639px) {
  .layout-container {
    max-width: 328px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
@media (min-width: 640px) and (max-width: 1028px) {
  .layout-container {
    max-width: 868px;
  }
}
@media (min-width: 1029px) {
  .layout-container {
    max-width: 1112px;
  }
}

.zw-border {
  box-shadow: 0 0 0 1px inset #E9EDF5;
}